:host {
    ::ng-deep{
        .titulo {
            padding: 10px;
            background-color: antiquewhite;
            text-align: center;

        }
        .btnADD{
            text-align: center;
            margin-top: 10px;
        }
    }
}