:host {
    ::ng-deep{
        .titulo {
            padding: 10px;
            background-color: antiquewhite;
            text-align: center;

        }
        
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        body {
            height: 100vh;
            width: 100%;
        
            /* Flexbox */
            display: flex; 
            justify-content: center; /* Alinhar na horizontal */
            align-items: center;  /*Alinhar na vertical*/
            color: #434343;
            margin-top: 40px;
        }
        main.cards {
        
            display: flex;
            padding: 32px;
        }
        main.cards section.card {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            background: #f8f9fa;
            padding: 1rem 1.5rem;
            border-radius: 8px;
            max-height: 256px; /*altura maxima do card*/
            margin-left: 32px;
            
        }
        /* Estou tirado do primeiro card a margin */
        main.cards section.card:first-child {
            margin-left: 0;
        }
        
        main.cards section.card .icon {
         width: 64px;
         height: 64px;
        }
        
        main.cards section.card img {
         width: 100%;
        }
        
        main.cards section.card h3 {
            font-size: 100%;
            margin: 16px 0;
        }
        
        main.cards section.card span {
            font-weight: 300;
            max-width: 240px;
            font-size: 80%;
            margin-bottom: 16px;
        }
        
        main.cards section.card button {
            padding: 0.5rem 1rem;
            text-transform: uppercase;
            border-radius: 32px;
            border: 0;
            cursor: pointer;
            font-size: 80%;
            font-weight: 500;
            color: white;
        }
        
        main.cards section.card.contact button{
            background: linear-gradient(to right, #9F66FF, #DFCBFF);
        }
        
        
        main.cards section.card.contact {
            box-shadow: 20px 20px 50px -30px #DFCBFF;
        }
        
        /* Responsividade da tela */
        
        @media screen and (max-width: 720px){
            body {
                flex-direction: column;
                main {
                    .cards {
                        flex-direction: column;
                        .card {
                            margin-left: 0;
                            margin-bottom: 32px;
                        }
                        .card:last-child {
                            margin-bottom: 0;
                        }
                }
            }
        }
    }
    }
    
    
}